/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: calc(7 / 6);
  font-weight: 700;
  font-family: sans-serif;
}

h2 {
  font-size: 2.25rem;
}

p, span, a {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: serif;
}

.container {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 12) + (30px * (12 - 1)));
  float: none;
  margin: 0 auto;
}
.container::before, .container::after {
  content: " ";
  display: table;
}
.container::after {
  clear: both;
}
.container {
  zoom: 1;
}

.row::before, .row::after {
  content: " ";
  display: block;
  height: 15px;
  clear: both;
}

.col-1 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 1) + (30px * (1 - 1)));
}

.col-2 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 2) + (30px * (2 - 1)));
}

.col-3 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 3) + (30px * (3 - 1)));
}

.col-4 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 4) + (30px * (4 - 1)));
}

.col-5 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 5) + (30px * (5 - 1)));
}

.col-6 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 6) + (30px * (6 - 1)));
}

.col-7 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 7) + (30px * (7 - 1)));
}

.col-8 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 8) + (30px * (8 - 1)));
}

.col-9 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 9) + (30px * (9 - 1)));
}

.col-10 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 10) + (30px * (10 - 1)));
}

.col-11 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 11) + (30px * (11 - 1)));
}

.col-12 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc((((100% - (12 * 30px))/12) * 12) + (30px * (12 - 1)));
}

/*# sourceMappingURL=framework.css.map */
